<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KelimeOgren.Properties.Settings.KelimeOgrenConnectionString"
            connectionString="Data Source=DESKTOP-CCP65NT\SQLEXPRESS;Initial Catalog=KelimeOgren;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>